# Virtual environment
env/

# Ignore Python bytecode files
*.pyc
__pycache__/

# Ignore environment-specific 
configuration files
.env

# Ignore the Firebase service 
account key
serviceAccountKey.json

# Ignore SQLite database files
*.db

# Ignore credentials file (users will setup as env variable
credentials.json