body {
  background: #fafafa;
  color: #333333;
  margin-top: 5rem;
}

h1 {
  font-size: 2em;
  color: #ff6f61;
  margin-top: 20px;
  text-align: center;
  font-weight: bold;
}

h2 {
    color: #444444;
    font-size: 20px;
    margin-bottom: 0px;
    padding-bottom: 5px;
}

h3, h4, h6 {
  color: #444444;
  font-size: 24px;
}

h5{
  color: #686868;
  font-size: 24px;
}

.text-wrapper {
  max-width: 1000px;
  margin: 20px auto;
  margin-bottom: 10px;
  padding: 20px;
  display: flex;
  justify-content: space-between; /* Aligns items with space between them */
  align-items: center;
}

.center-text{
  text-align: center
  margin-bottom: 20px;
  font-size: 18px;
}

.right{
  text-align: right
}

.left{
  text-align: left
}

.bg-steel {
  background-color: #ff6f61;
}

.site-header .navbar-nav .nav-link {
  color: #cbd5db;
}

.site-header .navbar-nav .nav-link:hover {
  color: #ffffff;
}

.site-header .navbar-nav .nav-link.active {
  font-weight: 500;
}

.content-section {
  background: #ffffff;
  padding: 10px 20px;
  border: 1px solid #dddddd;
  border-radius: 3px;
  margin-bottom: 20px;
}

.article-title {
  color: #444444;
}

a.article-title:hover {
  color: #ff6f61;
  text-decoration: none;
}

.article-content {
  white-space: pre-line;
}

.article-img {
  height: 65px;
  width: 65px;
  margin-right: 16px;
}

.article-metadata {
  padding-bottom: 1px;
  margin-bottom: 4px;
  border-bottom: 1px solid #e3e3e3
}

.article-metadata a:hover {
  color: #333;
  text-decoration: none;
}

.article-svg {
  width: 25px;
  height: 25px;
  vertical-align: middle;
}

.account-img {
  height: 125px;
  width: 125px;
  margin-right: 20px;
  margin-bottom: 16px;
}

.account-heading {
  font-size: 2.5rem;
}

.content {
    width: 50%;
    max-width: 600px;
    margin: auto;
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    text-align: left;
    line-height: 1.5;
}

.username {
    margin: 20px;
}

.categories {
    margin: 20px;
    text-align: center;
}

select {
    width: 200px;
    height: 150px;
}

.form-group {
    margin-bottom: 15px;
}

.form-control {
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid lightgray;
}

.form-control-label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

.form-control-lg {
    width: 100%;
    height: auto;
    padding: 6px 12px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.form-control-select {
    margin: auto;
    height: 38px;
    padding: 6px 12px;
    font-size: 16px;
}

.is-invalid {
    border-color: #dc3545;
}

.invalid-feedback {
    color: #dc3545;
    font-size: 14px;
    text-align: left;
}

.button-box{
    margin: 20px;
    text-align: center;
}

.start-button {
    background-color: #ff6f61;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    padding: 10px 20px;
    display: inline-block;
    font-size: 1em;
    cursor: pointer;
    transition: background-color 0.3s;
}

.start-button:hover {
    background-color: #fb9477;
}

/* Style for gamepage */
.container {
    border-radius: 8px;
    padding: 20px;
    padding-top: 20px;
    margin: auto;
    max-width: 800px;
}

.card {
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 4px;
    margin-bottom: 10px;
    transition: transform 0.2s;
}

.card-body {
    padding: 15px;
}

.form-check-input {
    margin-right: 10px;
}

.form-check-label {
    font-size: 18px;
}

.btn {
    border: none;
    padding: 10px 20px;
    margin-top: 10px;
    cursor: pointer;
    border-radius: 4px;
    }

.btn-next {
    background-color: #ff6f61;
    color: white;
}

.btn-next:hover {
    background-color: #fb9477;
}


.btn-submit {
    background-color: green;
    color: white;
}

.btn-submit:hover {
    background-color: #28a745;
}


/* for scoreboard containers */
.scoreboard-container {
    display: flex; 
    justify-content: space-between;
    flex-wrap: wrap; 
    align-items: stretch;
    margin-bottom: 30px;
    /* padding: 0 10px; */
}

.scoreboard {
    background-color: #f8f9fa;
    flex: 1 1 48%; 
    padding: 20px; 
    margin: 10px;
    border: 1px solid #dee2e6;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
    text-align: center;
}

.scoreboard h2 {
    text-align: center;
    color: #ff6f61;
}

.results-text {
    text-align: center;
    font-size: 24px;
    color: black;
    margin-top: 20px;
    font-style: italic;
}

.local-scores {
  text-align:left
}

.global-scores {
  text-align:left
}

.scoreboard ol li {
  margin-bottom: 5px; /* Add spacing between items */
}

.scoreboard ol li .score {
  float: right; /* Align scores to the right */
  font-weight: bold; /* Optional: Make scores bold */
}