body {
    font-family: Arial, sans-serif;
    text-align: center;
}
header {
    font-size: 2em;
    color: #ff6f61;
    margin-top: 20px;
}
.header-line {
    width: 100%;
    border: none;
    border-top: 2px solid #000;
    margin-top: 10px;
}
.content {
    width: 50%;
    margin: auto;
    text-align: left;
    line-height: 1.5;
}
.username {
    margin: 20px;
}
.categories {
    margin: 20px;
    text-align: center;
}
select {
    width: 200px;
    height: 150px;
}
.button-box{
    margin: 20px;
    text-align: center;
}
.button {
    background-color: #ff6f61;
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 1em;
    cursor: pointer;
}
.button:hover {
    background-color: #fb9477;
}

/* for scoreboard containers */
.scoreboard-container {
    display: flex; 
    justify-content: space-between; 
    margin-bottom: 20px; 
}

.scoreboard {
    flex: 1; 
    padding: 10px; 
    border: 1px solid #ccc; 
    text-align:center
}

.scoreboard h2 {
    margin-top: 0;
}

.local-scores {
    text-align:left
}

.global-scores {
    text-align:left
}

.scoreboard ol li {
    margin-bottom: 5px; /* Add spacing between items */
}

.scoreboard ol li .score {
    float: right; /* Align scores to the right */
    font-weight: bold; /* Optional: Make scores bold */
}