<!DOCTYPE html>
<html lang = "en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>QuickTrivia</title>
    <link rel="stylesheet" href="scorestyle.css" type="text/css">
</head>
<body>
    <header>QuickTrivia</header>
    <hr class="header-line">
    <div class="content">
        <div class="scoreboard-container">
            <div class="scoreboard">
                <h2>Local Scores</h2>
                <ol class="local-scores">
                    <li>Garfield<span class="score">100</span></li>
                    <li>Nermal<span class="score">50</span></li>
                    <li>Odie<span class="score">20</span></li>
                    <li>Jon Arbuckle<span class="score">1</span></li>
                </ol>
            </div>
            <div class="scoreboard">
                <h2>Global Scores</h2>
                <ol class="global-scores">
                    <li>Garfield<span class="score">100</span></li>
                    <li>Nermal<span class="score">50</span></li>
                    <li>Odie<span class="score">20</span></li>
                    <li>Jon Arbuckle<span class="score">1</span></li>
                </ol>
            </div>
        </div>
        <div class="button-box">
            <button class="button">New Quiz</button>
            <button class="button">Change User</button>
        </div>
    </div>
</body>
</html>

