{% extends "layout.html" %}
{% block content %}

<!-- Lel feel free to change I just wanted to make sure username + questions are output -->>
<h2>Welcome, {{ username }}!</h2>
<h2>Here are your questions, fool </h2>
{% for question in questions %}
  <p>{{question}}</p>
{% endfor %}

<!-- <div class="horiz-container"> -->
  <!-- <div class="text-wrapper">
    <div class="h2 left">Category</div>
    <div class="h5 right">Player username</div>
  </div>

  <div class="container mt-5">
    <form action="/results" method="post">
      {% for question in questions %}
      {% set outer_loop = loop %}
        <div class="card mb-3">
            <div class="card-body">
                <h5 class="card-title">{{ question.question }}</h5>
                {% for choice in question.choices %}
                <div class="form-check">
                    <input class="form-check-input" type="radio" name="question{{ outer_loop.index }}" id="choice{{ loop.index }}" value="{{ choice }}">
                    <label class="form-check-label" for="choice{{ loop.index }}">
                        {{ choice }}
                    </label>
                </div>
                {% endfor %}
            </div>
        </div>
      {% endfor %}
      <button type="submit" class="btn btn-primary">Submit Answers</button>
    </form>
</div> -->


{% endblock content %}


