{% extends "layout.html" %}
{% block content %}

<!-- Text wrapper for displaying category and user's username -->
<div class="text-wrapper">
    <div class="h2 left" style="color: #686868;">{{ category }}</div>
    <div class="h5 right" style="color: #686868;">{{ username }}</div>
</div>

<div class="container">
    <div id="questionCounter" class="h4 mb-3">Question {{ session['current_question'] + 1 }} of 10</div>
    
    <form id="quizForm" action="/feedback" method="post">
        <input type="hidden" name="username" value="{{ username }}">
        <input type="hidden" name="category" value="{{ category }}">

        <div class="question-container">
            <input type="hidden" name="question" value="{{ question.question }}">
            <input type="hidden" name="correct_answer" value="{{ question.correct_answer }}">

            <div class="card mb-3">
                <div class="card-body">
                    <h5 class="card-title">{{ question.question }}</h5>
                    {% for choice in question.choices %}
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="answer" value="{{ choice }}">
                        <label class="form-check-label" for="choice{{ loop.index }}">
                            {{ choice }}
                        </label>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>
        <button type="submit" class="btn btn-next">Submit Answer</button>
    </form>
</div>

{% endblock content %}
